.dropdown-toggle::after {
	display: none;
}

.text-decoration-none {
	text-decoration: none !important;
}
.icon-width {
	width: 2rem;
}

.langBg:after {
	content: "";
	width: 100%;
	height: 50%;
	border-right: 2px solid black;
	color: black;
	margin-left: 4px;
	margin-right: 4px;
}