<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  
  <variable name="LogDirectory" value="${gdc:LogDirectory}"></variable>>
  
  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${LogDirectory}/${shortdate}.log"
            layout="${uppercase:${level}}: ${message} at ${date:format=HH\:mm\:ss dddd, dd MMMM yyyy}" />
  </targets>
  
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackHole" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile">
    </logger>
  </rules>
  
</nlog>
