<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${LogDirectory}/${longdate}.log"
  internalLogLevel="Trace"
      autoReload="true"
  >

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="LogDirectory" value="${gdc:LogDirectory}"></variable>>

  <targets>

    <target name="logfile"
            xsi:type="File"
            fileName="${LogDirectory}/${shortdate}.log"
            layout="${uppercase:${level}}: ${message} at ${date:format=HH\:mm\:ss dddd, dd MMMM yyyy} ${machinename} ${logger} ${aspnet-request-posted-body}" />

    <target name="database"
             xsi:type="Database"
             dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">

      <connectionString>
        ${configsetting:item=ConnectionStrings.DefaultConnection}
      </connectionString>

      <commandText>
        INSERT INTO Logs (
                Level,
                CreatedOn,
                MachineName,
                Username,
                RequestPostData,
                Controller,
                Action,
                RequestMethod,
                RequestQueryString,
                RequestURL,
                Exception,
                UserAuthType,
                UserClaim,
                IsAuthenticated,
                ClientIP,
                ISSName)
        VALUES (
                @Level,
                @CreatedOn,
                @MachineName,
                @Username,
                @RequestPostData,
                @Controller,
                @Action,
                @RequestMethod,
                @RequestQueryString,
                @RequestURL,
                @Exception,
                @UserAuthType,
                @UserClaim,
                @IsAuthenticated,
                @ClientIP,
                @ISSName);
      </commandText>
      
      <parameter name="@Level" layout="${uppercase:${level}}" />
      <parameter name="@CreatedOn" layout="${date}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Username" layout="${aspnet-user-identity}" />
      <parameter name="@Controller" layout="${aspnet-mvc-controller}" />
      <parameter name="@Action" layout="${aspnet-mvc-action}" />
      <parameter name="@RequestMethod" layout="${aspnet-request-method}" />
      <parameter name="@RequestPostData" layout="${aspnet-request-form}" />
      <parameter name="@RequestQueryString" layout="${aspnet-request-querystring}" />
      <parameter name="@RequestURL" layout="${aspnet-request-url}" />
      <parameter name="@Exception" layout="${message}" />
      <parameter name="@UserAuthType" layout="${aspnet-user-authtype}" />
      <parameter name="@UserClaim" layout="${aspnet-user-claim:ClaimTypes.Role}" />
      <parameter name="@IsAuthenticated" layout="${aspnet-user-isauthenticated}" />
      <parameter name="@ClientIP" layout="${local-ip:cachedSeconds=60}" />
      <parameter name="@ISSName" layout="${iis-site-name}" />
    </target>

  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackHole" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile"/>
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>
