<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="LogDirectory" value="${gdc:LogDirectory}"></variable>>
  
  <targets>

    <target name="logfile"
            xsi:type="File"
            fileName="${LogDirectory}/${shortdate}.log"
            layout="${uppercase:${level}}: ${message} at ${date:format=HH\:mm\:ss dddd, dd MMMM yyyy} ${machinename} ${logger}" />

    <target name="database"
             xsi:type="Database"
             dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">

      <connectionString>
        ${configsetting:item=ConnectionStrings.DefaultConnection}
      </connectionString>

      <commandText>
        INSERT INTO Logs (Level,CreatedOn,MachineName,Message,Controller,Acton,RequestMethod,RequestQueryString,
        RequestURL,UserAuthType,UserClaim,IsAuthenticated,ClientIP,ISSName)
        VALUES (@Level,@CreatedOn,@MachineName,@Message,@Controller,@Acton,@RequestMethod,@RequestQueryString,
        @RequestURL,@UserAuthType,@UserClaim,@IsAuthenticated,@ClientIP,@ISSName);
      </commandText>

      <parameter name="@Level" layout="${level}" />
      <parameter name="@CreatedOn" layout="${date}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Controller" layout="${aspnet-mvc-controller}" />
      <parameter name="@Acton" layout="${aspnet-mvc-action}" />
      <parameter name="@RequestMethod" layout="${aspnet-request-method}" />
      <parameter name="@RequestQueryString" layout="${aspnet-request-querystring}" />
      <parameter name="@RequestURL" layout="${aspnet-request-url}" />
      <parameter name="@UserAuthType" layout="${aspnet-user-authtype}" />
      <parameter name="@UserClaim" layout="${aspnet-user-claim}" />
      <parameter name="@IsAuthenticated" layout="${aspnet-user-isauthenticated}" />
      <parameter name="@ClientIP" layout="${aspnet-request-ip}" />
      <parameter name="@ISSName" layout="${iis-site-name}" />
    </target>

  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackHole" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile"/>
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>