.cardContainer {
  margin-top: 2rem;
  margin-bottom: 6rem;
  display: inline-block;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  background-color: #ffffff00 0% 0% no-repeat padding-box;
  width: 450px;
  height: 450px;
  text-align: center;
  align-items: left;
  display: flex;
  flex-direction: column;
}

.coursescatalog-image-title {
  position: absolute;
  text-transform: uppercase;
  font-size: xx-large;
  color: white;
  /* text-shadow: 0 0 2px black; */
  text-align: right;
  font: normal normal 800 3rem/10rem Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}

.cardBody {
  padding-top: 38px;
}

.button {
  border-radius: 0px;
  background-color: #296cfb;
  color: #ffffff;
  width: 150px;
  height: 50px;
}

.image {
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: end;
}

.cardText {
  justify-content: space-between;
  font: normal normal normal 18px Montserrat;
  letter-spacing: 0.9px;
  padding-left: 50px;
  margin-top: 0px;
}

.course-price {
  width: 180px;
  height: 30px;
  display: flex;
  align-items: flex-start;
}

.coursecatalog-title {
  width: 225px;
  height: 40px;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: start;
}

.cardButtonText {
  font: normal normal bold 22px Montserrat;
  margin-bottom: 2px;
}

.blueCard {
  background: #eaf0ff 0% 0% no-repeat padding-box;
}
/* #course {
  font-weight: bold;
  text-align: left;
  margin-right: 50vh;
} */

#name {
  font: normal normal medium 18px/22px Montserrat;
  letter-spacing: 0.9px;
  color: #000000;
  text-align: right;
  opacity: 1;
}

#price {
  color: #296cfb;
  margin-right: 50vh;
}
