.sidebar-content {
  top: 50px;
  width: 30%;
  background-color: #296cfb1a;
  padding: 5rem;
}

.selectedMenuStyle {
  font-weight: 550;
  display: block;
  color: grey;
}

.nonSelectedMenuStyle {
  font-weight: 450;
  padding: 1.5rem 0;
  display: block;
  color: black;
  border-top: 1px solid grey;
}

.nonSelectedMenuStyle:hover,
.logOut:hover {
  font-weight: 600 !important;
}

.companyOwner-photo {
  margin-bottom: 12%;
  display: flex;
  margin-top: -4rem;
}

.active span {
  cursor: pointer;
  transform-style: preserve-3d;
  perspective: 100px;
}
.active span {
  color: #296cfb;
  font-weight: 500;
}
.active span::before {
  content: atr(data-char);
  visibility: visible;
  color: #fff;
  transition: transform 0.8s cubic-bezier(0.14, 0.71, 0.96, 0.59);
  transition-delay: calc(0.2s * var(--distance-percent));
  transform: none;
  transform-origin: bottom;
}
.active:hover span::before {
  transition-timing-function: cubic-bezier(1, 0.01, 0.56, 1);
}

.admin-image-name {
  width: 4.5rem;
  height: 4.5rem;
  background: #16d696 0% 0% no-repeat padding-box;
  border-radius: 75px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.logOut {
  font-weight: 450;
  padding: 1.5rem 0;
  display: block;
  color: red;
  border-top: 1px solid grey;
}

@media (max-width: 1200px) {
  .sidebar-content {
    width: 100% !important;
  }
}
