.lobby {
    width: 400px;
    margin: auto;
}

.chat {
    display: grid;
}

.leave-room {
    text-align: right;
    margin-bottom: 4px;
}

.user-list {
    float: left;
    background-color: #313131;
    color:white;
    width: 200px;
    height: 440px;
    margin-right: 4px;
}

.message-container {
    height: 400px;    
    background-color: white;
    overflow: auto;
    border-radius: 5px;
    margin-bottom: 2px;
}

.user-message {
    text-align: right;
    padding-right: 5px;
    font-size: 18px;
}

.other-message {
    text-align: left;
    padding-left: 5px;
    font-size: 18px;
}

.message {
    display: inline-flex;
    margin: 0px auto 0px auto;
    padding: 5px;
    font-size: 18px;
    color:white;
    border-radius: 20px;
    margin-top: 3px;
}

.from-user {
    font-size: small;
    margin-bottom: 3px;
    margin-right: 5px;
}
