.createCoach-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.createCoach-popup-createCoach-inner {
  position: relative;
  width: 100%;
  height: fit-content;
  padding-bottom: 3rem;
  overflow: hidden;
  max-width: 640px;
  background-color: white;
}

.createCoach-popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.createCoach-popup-Header {
  background-color: #296cfb;
}

.closebtn i {
  color: #fff;
  font-size: x-large;
}

.createCoach-popup-Title h4 {
  color: #fff;
  text-align: center;
}

.createCoach-Content-input {
  border: 2px solid #296cfb;
}

.createCoach-Content-anotherEmployee {
  margin-top: -10px;
  margin-bottom: -10px;
}

.createCoach-Content-anotherEmployee-btn {
  color: #296cfb;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #296cfb;
  font-weight: 600;
  opacity: 1; /* Firefox */
}

@media (max-width: 780px) {
  .createCoach-popup-inner {
    height: 100vh !important;
  }

  .createCoach-Content-fullname,
  .createCoach-Content-anotherEmployee,
  .createCoach-Content-email,
  .createCoach-Content {
    padding: 0 !important;
    text-align: center;
  }
}
