.detailsModal-background {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.detailsModal-courses-container {
  width: 60rem;
  height: 40rem;
  font-size: 1.1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  /* padding: 25px; */
}

.detailsModal-courses-img-coach {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
}

.detailsModal-courses-header {
  width: 100%;
  height: 15rem;
  background: #296cfb 0% 0% no-repeat padding-box;
  opacity: 1;
  font: normal normal Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 1rem;
}

.header-courses-els-container {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.detailsModal-courses-coach-name-wrapper {
  width: auto;
  height: 5rem;
  margin-left: -2rem;
  text-align: left;
  font: normal normal medium 22px/30px Montserrat;
  letter-spacing: 1.1px;
  color: #ffffff;
}

.the-x-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
}

.detailsModal-courses-title {
  display: flex;
  text-align: right;
  font: normal normal 800 40px/152px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 15rem;
  margin-bottom: 1rem;
}

.detailsModal-courses-image-course-wrapper {
  margin-top: -30rem;
  position: relative;
  margin-left: 55%;
  width: 40%;
  height: 130%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
}

.course-description-header {
  text-align: left;
  font: normal normal bold 22px/27px Montserrat;
  letter-spacing: 1.1px;
}
.detailsModal-courses-description {
  text-align: left;
  font: normal normal medium 22px/30px Montserrat;
  letter-spacing: 1.1px;
  color: #000000;
  height: 60%;
  width: 50%;
}

.detailsModal-rating {
  width: 15rem;
}

.courses-rating-header {
  text-align: left;
  font: normal normal bold 22px/27px Montserrat;
  letter-spacing: 1.1px;
  color: #000000;
}
.ratings i {
  color: #cecece;
  font-size: 1.1rem;
}

.rating-color {
  color: #fbc634 !important;
}

.modal-enroll-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.detailsModal-courses-body {
  padding: 2rem;
  margin-left: 1rem;
  width: 100%;
  height: 30rem;
}

.detailsModel-courses-image-course {
  width: 100%;
  height: 40%;
  background: url("../../../assets/img/courses/Rectangle 1221.png") 100% 100%
    no-repeat padding-box;
  background-size: cover;
  opacity: 1;
}

.detailsModel-courses-img-course-body {
  padding: 1.5rem;
  height: 40%;
}

.courses-more-information-header {
  text-align: left;
  font: normal normal bold 22px/27px Montserrat;
  letter-spacing: 1.1px;
  color: #000000;
  opacity: 1;
}

.courses-more-information {
  text-align: left;
  font: normal normal medium 18px/30px Montserrat;
  letter-spacing: 0.9px;
  color: #000000;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}
