.cardContainer {
  margin-top: 2rem;
  margin-bottom: 6rem;
  display: inline-block;
  box-shadow: 0px 3px 10px #00000029;
  opacity: 1;
  background-color: #ffffff 0% 0% no-repeat padding-box;
  width: 14rem;
  height: 21rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cardColors {
  background-color: #296cfb;
  color: #ffffff;
}

.background {
  background: transparent 0% 0% no-repeat padding-box;

  opacity: 0.6;
  width: 14rem;
  height: 10rem;
}

.backgroundImg {
  background-image: url('../../../../assets/img/courses/Marketing.png');
}

.cardText {
  text-align: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

#course {
  font-weight: bold;
  text-align: left;
}

#name {
  text-align: right;
}
