.table-monthHeading{
    transform: translate(16px, 10px);
    display: flex;
    justify-content: center;
}

.table-monthHeading-wrapper .cell:nth-child(1) {
    padding-left: 0rem!important;
}

.table-monthHeading span,
.table-monthHeading button{
    color: white;
    border: none;
}

.table-monthHeading span{
    font-size: 1.3rem;
    padding-top: .7rem;
}

.table-monthHeading button{
    font-size: 1.5rem;
}

.header-CoursesEnrolled{
    color: #fff;
    background: #296CFB;
    font-weight: bold;
}

.cell-header{
    color: #fff!important;
    font-size: 1.4rem!important;
    padding-top: 2rem!important;
}

.cell-header:nth-child(2) {
    text-align: end;
    padding-right: 4rem;
}

.table-cell-data{
    padding-left: 1rem!important;
    padding-right: 8rem!important;
    color: black!important;    
    font-weight: 600!important;
    text-align: end;
}

@media (max-width: 780px) {
    .table-monthHeading-wrapper .cell:nth-child(1) {
        padding: 0rem 5rem 1rem 5rem!important;
    }

    .table-row .cell:nth-child(1)::after {
        text-align: center;
        padding-left: 2rem;
    }
}
