#companyOwnerRoot{
    width: 70%!important;
}

.myProfileFullWidth{
    background: linear-gradient(90deg, #296CFB1A 50%, #FFF 50%);
    margin-bottom: 0!important;
}

.myProfile-content{
    background-color: white;
}

.companyOwner-Badge{
    position: relative;
    top: -5rem;
    right: -11rem;
}

.companyOwner-Badge img{
    width: 4rem;
    height: 5rem;
 
}

.myProfileBottomBg{
    height: 25rem;
    position: absolute;
    left: 0;
    bottom: -25rem;
    z-index: -1;
    width: 100%;
    background: linear-gradient(90deg, #296CFB1A 50%, #FFF 50%);
}

.myProfileBottomBg-content{
    background-color: white;
    position: relative;
    z-index: 2;
    text-align: center;
    height: 100%;
}

.sidebarBg{
    height: 100%;
    width: 30%;
    background-color: #296CFB1A;
}

@media(max-width:1200px) {    
    #companyOwnerRoot{
     width: 100%!important;   
    }

    .myProfileFullWidth{
        background: white!important;
    }

    .companyOwner-Badge{
        right: -5rem;
    }

    .myProfile-content{
        display: block!important;
        width: 100%;
    }

    .myProfileBottomBg{
        display: none;
    }

    .main-content{
        padding: 0!important;
        margin: .5rem;
        width: 95%;        
    }
}
