.myProfile-courses-list{
    column-count: 2;
    display: flex;
    justify-content: space-between; 
    margin-top: -8rem;
    --bs-gutter-x: -3rem;
    padding-left: 110px;
}

.courses-cardButton{
    margin:1rem 2rem;
    padding: .5rem 2rem;
    font-weight: bolder;
}

@media screen and (max-width: 1000px) {
    .courses-list{
        flex-direction: column; 
        display: flex;
        justify-content: center;
        --bs-gutter-x: 0rem;
    }
}
