.courses-list {
  width: 70%;
  margin-left: 20%;
  column-count: 2;
  display: flex;
  /* justify-content: space-between;   */
  margin-top: 2rem;
  --bs-gutter-x: 3.5rem;
  padding-left: 0 !important;
}

.create-button-wrapper {
  padding-top: 2rem;  
  padding-right: 5rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-left: 0 !important;
}

@media screen and (max-width: 1200px) {
  .courses-list {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
}
