@page
@model UpSkill.Web.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<style>
    .h1Headlines {
        top: 234px;
        left: 150px;
        width: 760px;
        height: 256px;
        text-align: left;
        font: normal normal bold 70px/85px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .layputDesign {
        top: 0px;
        left: 0px;
        width: 1800px;
        height: 100px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    .layoutButtonsPosition {
        position: fixed;
        top: 55px;
        left: 1345px;
        opacity: 1;
    }
    .spanButtons {
        text-align: left;
        font: normal normal bold 22px/27px Montserrat;
        letter-spacing: 1.1px;
        color: #FFFFFF;
        opacity: 1;
        background: #296CFB 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .description {
        top: 540px;
        left: 150px;
        width: 760px;
        height: 202px;
        text-align: left;
        font: normal normal medium 22px/42px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
</style>

<header class="layputDesign">
    <nav class="layoutButtonsPosition">
        <button class="spanButtons">Login</button>
        <button class="spanButtons">Request a Demo</button>
    </nav>
</header>

<div class="container">
    <h1 class="h1Headlines">Do you want to level 
    up the knowledge of your team?
    </h1>
    <p class="description">Upskill gives everyone the opportunity to grow professionally and develop into a specialist in every field. 
    We inspire your people to master their skills and become the best version of themselves. 
    Through our unique, personalised, user-friendly experience, your business is ready to reach new heights.
    </p>
</div>

<footer>
</footer>


