@page
@model UpSkill.Web.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/css/home.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="../Pages/assets/Group 5.svg" id="favicon" media="(prefers-color-scheme:light)">
    <link rel="icon" href="../Pages/assets/footerLOGO-NoBg.png" id="favicon" media="(prefers-color-scheme:dark)">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet" />
    
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="img-and-text">
                <img src="~/lib/assets/Group 5.svg" alt="" />
                <h1 class="upskill-header">upskill</h1>
            </div>
            <div class="buttons">
                <button class="login">Login</button>
                <button class="register">Request a Demo</button>
            </div>
        </div>
        <div class="body">
            body
            <h1>asdas</h1>
            <h1>asdas</h1>
        </div>
        <div class="footer">

            <section class="desc">
                <div class="desc-child">
                    <div class="img-text">
                        <img src="~/lib/assets/footerLOGO-NoBg.png" alt="" />
                        <h1 class="upskill">upskill</h1>
                    </div>
                    <p>
                        Upskill gives everyone the opportunity to grow professionally and develop into a specialist in every field.
                    </p>

                    <button class="button-desc login"><a href="">Get Started</a></button>
                </div>
            </section>
            <section class="company">
                <h1>Company</h1>
                <div>
                    <a href="">About us</a>
                    <a href="">Contact us</a>
                    <a href="">Privacy Policy</a>
                </div>
            </section>
            <section class="services">
                <h1>Services</h1>
                <div>
                    <a href="">Courses</a>
                    <a href="">Coaches</a>
                    <a href="">Requests</a>
                </div>
            </section>
            <section class="links">
                <img src="~/lib/assets/Group 12.svg" alt="" />
                <img src="~/lib/assets/Group 13.svg" alt="" />
                <img src="~/lib/assets/Group 14.svg" alt="" />
            </section>

        </div>
        <div class="copyright">&copy UpSkill 2021</div>
    </div>
</body>

</html>