@page
@model UpSkill.Web.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<div id="reactdiv"></div>

<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="../ClientApp/src/components/Shared/Layout.js"></script>