@page
@model UpSkill.Web.Pages.Home
@{
    ViewData["Title"] = "Home";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/css/home.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="../Pages/assets/Group 5.svg" id="favicon" media="(prefers-color-scheme:light)">
    <link rel="icon" href="../Pages/assets/footerLOGO-NoBg.png" id="favicon" media="(prefers-color-scheme:dark)">
    <link rel="icon" href="../Pages/assets/home-GetStarted-img.png" id="favicon" media="(prefers-color-scheme:dark)">
    <link rel="icon" href="../ClientApp/src/components/Authentication/Login/Login.js" id="favicon"
        media="(prefers-color-scheme:dark)">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="">
        <div class="home-header navbar header-inner navbar-light shadow bg-light fixed-top">
            <div class="custom-container d-flex justify-content-between">
                <div class="d-flex">
                    <img src="~/lib/assets/Group 5.svg" onclick="location.href='/'" />
                    <h1 class="upskill-header" onclick="location.href='/'">upskill</h1>
                </div>
                <div class="buttons">
                    <button class="home-login btn btn-outline-primary" onclick="location.href='/Login'">Login</button>
                    <button class="home-register btn btn-primary" onclick="location.href='./#RequestDemo'">Request a
                        Demo</button>
                </div>
            </div>
        </div>
        <div class="home-content-wrapper">
            <section class="content custom-container">
                <article class="home-content-article d-flex justify-content-between">
                    <div class="home-content-getStarted-text col-md-5">
                        <h1 class="home-heading home-content-getStarted-text-heading">Do you want to level up the knowledge of your
                            team?</h1>
                        <p class="home-content-getStarted-text-info">Upskll glves everyone the opportunity to grow
                            professionally and develop into a
                            specialist in every field. We inspire your people to master their skils and become the
                            best version of themselves Through our unique, personalised, user-friendly experience.
                            your business is ready to reach new heights.</p>
                        <button class="btn btn-primary home-content-getStarted-text-btn px-5 py-2">Get Started</button>
                    </div>

                    <div class="home-content-getStarted-img col-md-6 d-flex">
                        <div class="home-content-getStarted-img-bg"></div>
                        <img src="~/lib/assets/home-GetStarted-img.png"
                            class="home-content-getStarted-img-inner" />
                    </div>
                </article>

                <article class="home-content-article home-content-whatItDoes d-flex justify-content-between">
                    <div class="home-content-whatItDoes-img col-md-6 d-flex">
                        <div class="home-content-whatItDoes-img-bg mt-3"></div>
                        <img src="~/lib/assets/home-whatUpSkillDoes-img.png"
                            class="align-self-end home-content-whatItDoes-img-inner"/>
                    </div>

                    <div class="home-content-getStarted-text col-md-5">
                        <h1 class="home-heading home-content-whatItDoes-text-heading text-right">What <span class="home-content-whatItDoes-text-heading-logo">UpSkill</span> does?</h1>
                        <p class="home-content-getStarted-text-info text-right">We help businesses as well as individuals learn new skils and gain knowledge on various tоpics while еxploring different sources and geting certified. If you пeed personal time with a specialist, don't hesitate to book your slot with one of our top coaches.</p>
                        <div class="home-content-getStarted-text-btns row d-flex justify-content-end">
                            <button class="btn btn-primary home-content-getStarted-text-btn px-5 py-2">Explore
                                Courses</button>
                            <button class="btn btn-outline-primary home-content-getStarted-text-btn px-5 py-2">Find
                                Coaches</button>
                        </div>
                    </div>
                </article>

                <article id="RequestDemo" class="home-content-article d-flex justify-content-between mt-5">
                    <div class="home-content-getStarted-text col-md-6 mt-5">
                        <h1 class="home-heading home-content-getStarted-text-heading mt-5">Request a Demo</h1>
                        <p class="home-content-getStarted-text-info">Don't find what you are looking for? We would be more than happy to help you and assist you in everything you needt Let us know about your personal requirements by filling our request form:</p>
                        <form method="post" asp-page="Home" class="home-content-requestDemo-form mt-5">
                            <input type="text" placeholder="Name" asp-for="Name" class="home-content-requestDemo-form-input">
                            <input type="text" placeholder="Company Name" class="home-content-requestDemo-form-input">
                            <input type="text" placeholder="Email Address" class="home-content-requestDemo-form-input">
                            <input type="text" placeholder="Phone number" class="home-content-requestDemo-form-input">

                            <input type="submit" class="btn btn-primary home-content-requestDemo-text-btn" placeholder="Submit"/>
                        </form>
                    </div>

                    <div class="home-content-getStarted-img col-md-6 d-flex justify-content-end">
                        <div class="home-content-requestDemo-img-bg"></div>
                        <img src="~/lib/assets/home-requestDemo-img.png"
                            class="align-self-end home-content-requestDemo-img-inner" />
                    </div>
                </article>
            </section>
        </div>
        <div class="home-footer">
            <div class="home-footer-inner custom-container m-auto">
                <section class="desc">
                    <div class="home-desc-child">
                        <div class="d-flex align-items-center home-upskill-wrapper">
                            <img class="home-img" src="~/lib/assets/footerLOGO-NoBg.png" alt="" />
                            <h1 class="home-upskill">upskill</h1>
                        </div>
                        <p>
                            Upskill gives everyone the opportunity to grow professionally and develop into a specialist
                            in
                            every field.
                        </p>

                        <button class="home-button-desc home-login" onclick="location.href='/Courses'">Get
                            Started</button>
                    </div>
                </section>
                <section class="company">
                    <h1>Company</h1>
                    <div>
                        <a href="/About">About us</a>
                        <a href="/Contact">Contact us</a>
                        <a href="/Privacy">Privacy Policy</a>
                    </div>
                </section>
                <section class="services">
                    <h1>Services</h1>
                    <div>
                        <a href="/Courses">Courses</a>
                        <a href="/Coaches">Coaches</a>
                        <a href="/Requests">Requests</a>
                    </div>
                </section>
                <section class="links">
                    <img src="~/lib/assets/Group 12.svg" alt="" />
                    <img src="~/lib/assets/Group 13.svg" alt="" />
                    <img src="~/lib/assets/Group 14.svg" alt="" />
                </section>

            </div>
            <div class="home-copyright">&copy UpSkill 2021</div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>

</html>