.wrapper {
    
}

#sidebar {
    min-width: 380px;
    max-width: 380px;
}

#sidebar.active {
    margin-left: -250px;
}

#btn{
    display: block;
    padding-bottom: 10vh;
    padding-top: 5vh;
    padding-left: 97.5%;
    
}

@media screen  and (max-width: 600px){
    
}
