.create-course-container {
  /* margin-top: 10rem; */
  /* margin-left: 30%; */
  /* height:650px; */
  width: 40rem;
  height: 40rem;
  display: inline-block;
  background: white 0% 0% no-repeat padding-box;
  border-radius: 12px; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.form-container {  
  margin-top: 0rem;
  /* top: 185px;
  margin-left: 30%; */
  width: 40rem;
  height: 35rem;
  background: white 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
 
 
}

.CreateCloseBtn {
  
  margin-top: -3rem;
  border-radius: 12px; 
  background-color: white;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
}

.the-xbtn{  
  margin-right: 0.5rem;
  color: black;
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}


/* .form-container {
  margin-top: 30px;
  top: 185px;
  margin-left: 30%;
  width: 500px;
  height: 500px;
  background: white 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.input-style {
  width: 30rem;
  height: 3rem;
  border: 2px solid #296cfb;
  opacity: 1;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.btn-custom {
  color: white;
  width: 250px;
  height: 50px;
  background: #296cfb 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 5px;
}

.btn-createcourse-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* .create-course-img{
    margin-top: 30px;
    top: 185px;
    margin-right: 10%;
    width: 500px;
    height: 500px;   
    width: 60%;
    height: 60%;
    background:  url("https://i.ibb.co/9Twgqz8/Rectangle-1221.png") 0% no-repeat padding-box;
} */
