.AuthWrapper{
    position: absolute;
    z-index: 1100;
    background-color: white;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow-y: hidden;
}

.Auth-logo{
    width: 33%;
    height: 23%; 
}

.Auth-logo:hover{
    filter: contrast(2);
}

.auth-form{
    position: relative;
    z-index: 11;
}

.login-photos{
    height: 100%;
}

.login-Image{
    position: relative;
    z-index: 11;
    top: 7rem;
    width: 30rem;
}

.auth-form-wrapper{
    margin: 3rem!important;        
}

.auth-form-internal{
    padding: 0 10rem;
}

.auth-form-Input{
    background-color: white;
    border: 4px solid #296CFB;
}

.auth-form-Input::placeholder {
    color: #296CFB;
    opacity: 1;
    font-weight: 500;
    font-size: larger;
}

.login-form-btns-wrapper{
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.login-dots{
    color: #296CFB;
}

.auth-btn-internal{
    padding: 0 1rem;
}

#log-triangle {
    width: 0;
    height: 0;
    border-left: 1000px solid #E8FBF5;
    border-top: 1000px solid transparent;
    border-bottom: 1000px solid transparent;
    position: absolute;
    left: 0;
    top: -22rem;
    z-index: 10;
 }

@media screen and (max-width: 1100px) {
    .login-Image{
        display: none;
    }

    .Auth-logo{
        width: 10rem;    
    }

    .auth-form-wrapper{
        margin: 0!important;
    }

    .auth-btn-internal{
        padding: 0;
    }

    .login-form-btns-wrapper{
        padding: 0;
    }

    #log-triangle {
        z-index: -1;
        border-left: 182px solid #E8FBF5;
        border-top: 980px solid transparent;
        border-bottom: 100% solid transparent;
    }

    .auth-form-internal{
        padding: 0;        
    }

    .auth-form{
        padding: 0;
    }
}
