
.card{
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
    box-shadow: 0px 3px 10px #00000029;
    opacity: 1;
    background-color: #FFFFFF 0% 0% no-repeat padding-box; 
    width: 420px;;
    height: 450px;
    text-align: center;
    
    
}
.image{
margin-top: 50px;
margin-bottom: 20px;
width: 150px;
height: 150px;

}
.span{
display: block;
margin: auto;
font-size: 22px;
}
.button{
    display: block;
    margin: auto;
    color: white;
    position: relative;
    border: none;
    left: 39%;
    width: 90px;
    height: 50px;
    background: #296CFB 0% 0% no-repeat padding-box;
    opacity: 1;
}
.fullName{
    display: block;
    font: normal normal bold 22px/27px Montserrat;
    letter-spacing: 1.1px;
}
.coachType{
    margin-top: 10px;
    display: block;
    font: normal normal medium 22px/30px Montserrat;
    letter-spacing: 1.1px;
    color: #000000;

}
.coachPrice{
    margin-top: 20px;
    color: #296CFB;
    letter-spacing: 1.1px;
    font: normal normal medium 22px/27px Montserrat;
}
