.employee-profile-wrapper-courseCatalog {
    display: flex;
    align-items: stretch;
    margin-top: 10em;    
    margin-left: 7.5em;
}

#sidebar {
    min-width: 380px;
    max-width: 380px;
}

#sidebar.active {
    margin-left: -250px;
}

@media screen  and (max-width: 600px){
    
}
