.container-clients {
    height: 4rem;
    color: white;
    padding: 15px 20px 10px 60px;
    margin-top: 2rem;
}

.chart-container {
    position: relative;
    width: 700px;
    height: 300px;
    margin-left: 50px;
}

.wrapper {
    margin-top: 50px;
}

@media(max-width:1200px) {
    .chart-container {
        width: 95%;
    }
}