.container-clients {
    height: 4rem;
    background-color: #296CFB;
    color: white;
    padding: 15px 20px 10px 60px;
    margin-top: 2rem;
}

.chart-container {
    position: relative;
    width: 700px;
    height: 300px;
    margin-left: 50px;
}

.wrapper {
    margin-top: 50px;
}