footer {
	overflow: hidden;
	position: relative;
	color: #fff;
	z-index: 1;
}

footer .content-wrapper {
		background: transparent;
		padding: 20px 0;
}

footer .content-wrapper form button {
			width: 100%;
}

footer .slants {
		padding: 4% 0;
}

footer .slants:before {
			content: '';
			height: 100%;
			background: #0B2969;
			transform: skewY(7deg);
			transform-origin: left top;
			position: absolute;
			width: 100%;
			top: 0;
			z-index: -1;
}

.contentFooter{
	padding-bottom: 2rem;
}

.getStarted {
	color: #0B2969!important;
}

#CopyRigthFooter {
			border-top: 2px solid white;
}

.footer-copyRLogo{
	font-size: 1.3rem;
}

@media screen and (max-width:768px){
	.footer-getStartedWrapper{
		display: flex;
		justify-content: center;
	}

	.getStarted{
		justify-self: center;
	}

	.footer-content{
		padding: 0 2rem;
	}

	.footer-serviceList,
	.footer-companyList{
		width: fit-content;
	}

	.footer-socials-item{
		width: fit-content;
		padding: 0 1rem;
	}

	.footer-socials-item::before{
		font-weight: bolder;
	}

	.fab{
		font-size: 2rem;
	}

	.footer-socials,
	.footer-socials-list{
		display: flex!important;
		flex-direction: row!important;
		justify-content: center;
	}
}
