.coaches-list{
  column-count: 2; 
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  --bs-gutter-x: 3.5rem;
  padding-left: 0!important;
}

.coaches-cardButton{
  margin:1rem 2rem;
  padding: .5rem 2rem;
  font-weight: bolder;
}

@media screen and (max-width: 1200px) {
  .coaches-list{
      flex-direction: column; 
          display: flex;
          justify-content: center;
  }
}
