.deleteModal-background {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.2);

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.deleteModal-container {
  position: fixed;
  top: 10rem;  
  width: 750px;
  height: 400px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  /* padding: 25px; */
}

.deleteModal-header {
  width: 750px;
  height: 250px;
  background: #296cfb 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font: normal normal bold 28px/36px Montserrat;
  letter-spacing: 1.4px;
  color: #ffffff;
  opacity: 1;
  padding: 1rem;
}

.delete-x-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
}

.deleteHeader-els-container {
  width: 100%;
  /* height: 70px;  */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.deleteModal-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.deleteCloseBtn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.deleteModal-body {
  padding: 2rem;
  width: 100%;
  height: 30rem;
}

.cdelete-button {
  font: normal normal bold 22px/27px Montserrat;
  letter-spacing: 1.1px;
  margin-left: 15px;
  margin-right: 15px;
  width: 150px;
  height: 50px;
}
