.alignAdminCoachesContentBox {
  margin-top: 30px;
  width: 400px;
  height: 400px;
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.addImage {
  width: 50px;
  height: 50px;
  background: transparent url("../../../../assets/Group 79.png") 0% 0% no-repeat
    padding-box;
  cursor: pointer;
}
