@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

.courseResourcesSidebar{
    position: fixed;
    top: 0px;
    left: 1320px;
    width: 400px;
    height: 710px;
    background: #296CFB 0% 0% no-repeat padding-box; 
    opacity: 0.2;
}

.lecturesContent{
    position: fixed;
    top: 135px;
    left: 1410px;
    width: 107px;
    height: 27px;
    text-align: left;
    font: normal normal bold 18px/20px Montserrat;
    letter-spacing: 1.1px;
    color: #000000;
    opacity: 1;
}

.lecturesContentSpan{
    position: fixed;
    top: 185px;
    left: 1410px;
    width: 160px;
    height: 27px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.courseButtonViewMore{
    position: fixed;
    bottom: 130px;
    left: 1410px;
    width: 170px;
    height: 50px;
    border: 2px solid #296CFB;
    opacity: 1;
}

.courseButtonViewMoreSpan{
    position: relative;
    bottom: -12px;
    left: 30px;
    width: 131px;
    height: 27px;
    text-align: left;
    font: normal normal bold 18px/20px Montserrat;
    letter-spacing: 0.1px;
    color: #296CFB;
    opacity: 1;
}
