@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.Overview-cell{
    width: 33%;
}

.Overview-heading{
    font-weight: 800!important;
}

.Overview-count,
.Overview-activeCourses{
    border-right: 1px solid black;
}

.Overview-activeCourses,
.Overview-activeCoaches{
    padding-left: 3rem;
}

.Overview h4{
    font-size: 1.3rem!important;
}

.Overview-activeCourses h1{
    font-family: 'Montserrat', sans-serif;
    color: #296CFB;
}

.Overview-activeCoaches h1{
    font-family: 'Montserrat', sans-serif;
    color: #1CC18A;
}

@media screen and (max-width:768px) {
    .Overview-activeCourses,
    .Overview-activeCoaches {
        padding-left: 1rem;
    }

    .Overview h4 {
        font-size: .9rem!important;
        height: 3rem;
    }

    .Overview-heading{
        font-size: 1.2rem!important;
    }    
}
